<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    img {
      max-height: 200px;
      width: auto;
    }
    body {
      text-align: center;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile</title>
</head>
<body>
  <a href="/dashboard">Dashboard</a>
  <a href="/search">Search</a>
  <a href="/new_article">Create a new article</a>
  <a href="/profile">Profile</a>
  <br>
  <% if(alreadyFollowingParamsUser === false){} %>
    <button class="follow-button" id="<%= user.username%>">Follow this user</button>
  <%}%>
  <div>
    <h2><%= user.username%></h2>
    <img src="<%= user.profile_pic %>">
    <br>
  </div>
  <% articles.forEach((article) => {%>
  <hr>
    <div>
      <h2><%= article.title %></h2>
      <img src="<%= article.image %>" alt="">
      <br>
      <p><%= article.description %></p>

      <span>
        <% article.tags.forEach((tag) => { %>
          <a href="/search/<%= tag %>"> <%= tag %></a>
        <% }) %>
      </span>
    </div>
  <% }) %>

  <script>
    document.getElementsByClassName('follow-button')[0].addEventListener('click', function(e){
      let data = JSON.stringify({ username: e.target})
      fetch('/user/follower/new', {method: 'POST', body: data, headers: {
        "Content-Type": "application/json"
      },
      credentials: 'same-origin'
      }).then(function(){
        window.location.href = "/";
      })
    })
  </script>

  
</body>
</html>